body {
  margin: 0 !important;
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-style: normal !important;
}

a {
  text-decoration: none !important;
}

.width_100 {
  width: 100%;
}

.cur_pointer {
  cursor: pointer !important;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  background: #F7F8FA !important;
  border: 1px solid #D9D9DB !important;
  outline: 0 !important;
  box-shadow: none !important;
}


.border_top_0 {
  border-top: 0 !important;
}

.border_right_0 {
  border-right: 0 !important;
}

.w_736 {
  width: 736px;
}

.p_10 {
  padding: 10px 0 !important;
}

.p_20 {
  padding: 20px 0 !important;
}

.custom_gap_0 {
  gap: 0px !important;
}

.custom_gap_10 {
  gap: 10px !important;
}

.custom_gap_20 {
  gap: 20px !important;
}

.custom_gap_30 {
  gap: 30px !important;
}

.custom_gap_40 {
  gap: 40px !important;
}

.display_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.align_items_self_start {
  align-items: self-start;
}

.justify_content_start {
  justify-content: start
}

.signin_text {
  color: #2F6CE5;
}

/* responsive */