.banner_section {
    height: 420px;
    background-image: url("./../images/banner.png");
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
}

.banner_section:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.top_banner_menu {
    padding: 45px 0;
    display: none;
    position: relative;
    z-index: 9;
}

.left_arrow_menu_btn {
    position: relative;
    z-index: 222;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.left_arrow_menu_btn img {
    width: 100%;
}

.join_group_btn_banner {
    border: 0.8px solid #FFFFFF;
    border-radius: 4px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
    padding: 16px 32px;
}

.banner_content {
    position: relative;
    z-index: 1111;
    width: max-content;
    color: #fff;
    margin: auto;
    top: 160px;
}

.banner_content h2 {

    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}

.banner_content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}


.add_note_btn {
    background: #0d6efd;
    border: 2px solid #0d6efd;
    transition: all .5s;
}

.add_note_btn:hover {
    background: transparent;

}

@media (max-width: 768px) {

    /* banner start */
    .banner_section {
        height: 236px;
        background-image: url("./../images/banner1.png");
    }

    .banner_content {
        bottom: 10px;
    }

    .banner_content h2 {
        font-size: 36px;
        line-height: 25px;
        margin: 0;
    }

    .banner_content h2 {
        font-size: 17px;
    }

    .banner_content p {
        font-size: 12px;
    }

    .top_banner_menu {
        padding: 16px 0;
        display: block
    }

    .left_arrow_menu_btn {
        width: 20px;
        height: 20px;
    }

    .join_group_btn_banner {
        font-size: 12px;
        line-height: 16px;
        padding: 6px 8px;
        height: 30px;
    }

    .write_post button {
        font-size: 13px;
        padding: 7px 14px;
    }
}